<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="ba83ff368b7563c6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.15603.14400" newVersion="2.9.15603.14400" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>