<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleControl.WPF" version="1.2.1" targetFramework="net472" />
  <package id="ConsoleControlAPI" version="1.2.1" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Dirkster.AvalonDock" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Aero" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Expression" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Metro" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.VS2010" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="3.5.0.2" targetFramework="net471" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net471" />
</packages>