<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dirkster.AvalonDock" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Aero" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Expression" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.Metro" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.VS2010" version="3.5.0.2" targetFramework="net471" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="3.5.0.2" targetFramework="net471" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net471" />
</packages>